@model MyShop.Models.ViewModels.ProductUserViewModel
<h1>Summary</h1>

<form>
    <!--User-->
    <p>
        <label>Name</label>
        <input class="form-control" type="text" asp-for="@Model.ApplicationUser.FullName"/>

    </p>
    <p>
        <label>Phone</label>
        <input class="form-control" type="text" asp-for="@Model.ApplicationUser.PhoneNumber" />

    </p>
    <p>
        <label>Email</label>
        <input class="form-control" type="text" asp-for="@Model.ApplicationUser.Email" />

    </p>

    @foreach (var item in Model.ProductList)
    {
       
        <p>
            Product Name: @item.Name
        </p>
        <p>
            Price: @item.Price
        </p>
       
    }
    <p>
        <button type="submit" class="btn btn-success form-control">Submit</button>
    </p>
</form>

